.mw-ui-button {
	font-family:inherit;
	font-size:1em;
	display:inline-block;
	min-width:4em;
	max-width:28.75em;
	padding:.5em 1em;
	margin:0;
	border-radius:2px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-appearance:none;
	*display:inline;
	zoom:1;
	vertical-align:middle;
	background:#ffffff;
	color:#555555;
	border:1px solid #cccccc;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
	}

.mw-ui-button:hover {background-color:#cccccc;}

.mw-ui-button:focus {
	border-color:#ffffff;
	box-shadow:0 0 0 1px #cccccc;
	outline:none;
	}

.mw-ui-button:focus::-moz-focus-inner {border-color:transparent;}

.mw-ui-button:active,.mw-ui-button.is-on,.mw-ui-button.mw-ui-checked {
	background:#777777;
	box-shadow:none;
	}

.mw-ui-button:hover,.mw-ui-button:active,.mw-ui-button:visited {color:#555555;}

.mw-ui-button:focus {background-color:#cccccc;}

.mw-ui-button:disabled {color:#cccccc;}

.mw-ui-button:disabled:hover,.mw-ui-button:disabled:active {
	background:#ffffff;
	box-shadow:none;
	}

.mw-ui-button:disabled {
	text-shadow:none;
	cursor:default;
	}

.mw-ui-button.mw-ui-big {font-size:1.3em;}

.mw-ui-button.mw-ui-block {
	display:block;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	}

.mw-ui-button.mw-ui-progressive,.mw-ui-button.mw-ui-primary {
	background:#347bff;
	color:#fff;
	border:1px solid #347bff;
	text-shadow:0 1px rgba(0,0,0,0.1);
	}

.mw-ui-button.mw-ui-progressive:hover,.mw-ui-button.mw-ui-primary:hover {background-color:#2962cc;}

.mw-ui-button.mw-ui-progressive:focus,.mw-ui-button.mw-ui-primary:focus {
	border-color:#ffffff;
	box-shadow:0 0 0 1px #2962cc;
	outline:none;
	}

.mw-ui-button.mw-ui-progressive:focus::-moz-focus-inner,.mw-ui-button.mw-ui-primary:focus::-moz-focus-inner {border-color:transparent;}

.mw-ui-button.mw-ui-progressive:active,.mw-ui-button.mw-ui-primary:active,.mw-ui-button.mw-ui-progressive.is-on,.mw-ui-button.mw-ui-primary.is-on,.mw-ui-button.mw-ui-progressive.mw-ui-checked,.mw-ui-button.mw-ui-primary.mw-ui-checked {
	background:#2962cc;
	box-shadow:none;
	}

.mw-ui-button.mw-ui-progressive:disabled,.mw-ui-button.mw-ui-primary:disabled {
	background:#dddddd;
	border-color:#dddddd;
	}

.mw-ui-button.mw-ui-progressive:disabled:hover,.mw-ui-button.mw-ui-primary:disabled:hover,.mw-ui-button.mw-ui-progressive:disabled:active,.mw-ui-button.mw-ui-primary:disabled:active,.mw-ui-button.mw-ui-progressive:disabled.mw-ui-checked,.mw-ui-button.mw-ui-primary:disabled.mw-ui-checked {box-shadow:none;}

.mw-ui-button.mw-ui-progressive.mw-ui-quiet,.mw-ui-button.mw-ui-primary.mw-ui-quiet {color:#555555;}

.mw-ui-button.mw-ui-progressive.mw-ui-quiet:hover,.mw-ui-button.mw-ui-primary.mw-ui-quiet:hover,.mw-ui-button.mw-ui-progressive.mw-ui-quiet:focus,.mw-ui-button.mw-ui-primary.mw-ui-quiet:focus {
	background:transparent;
	color:#347bff;
	}

.mw-ui-button.mw-ui-progressive.mw-ui-quiet:active,.mw-ui-button.mw-ui-primary.mw-ui-quiet:active,.mw-ui-button.mw-ui-progressive.mw-ui-quiet.mw-ui-checked,.mw-ui-button.mw-ui-primary.mw-ui-quiet.mw-ui-checked {color:#2962cc;}

.mw-ui-button.mw-ui-progressive.mw-ui-quiet:disabled,.mw-ui-button.mw-ui-primary.mw-ui-quiet:disabled {color:#cccccc;}

.mw-ui-button.mw-ui-constructive {
	background:#347bff;
	color:#fff;
	border:1px solid #347bff;
	text-shadow:0 1px rgba(0,0,0,0.1);
	}

.mw-ui-button.mw-ui-constructive:hover {background-color:#2962cc;}

.mw-ui-button.mw-ui-constructive:focus {
	border-color:#ffffff;
	box-shadow:0 0 0 1px #2962cc;
	outline:none;
	}

.mw-ui-button.mw-ui-constructive:focus::-moz-focus-inner {border-color:transparent;}

.mw-ui-button.mw-ui-constructive:active,.mw-ui-button.mw-ui-constructive.is-on,.mw-ui-button.mw-ui-constructive.mw-ui-checked {
	background:#2962cc;
	box-shadow:none;
	}

.mw-ui-button.mw-ui-constructive:disabled {
	background:#dddddd;
	border-color:#dddddd;
	}

.mw-ui-button.mw-ui-constructive:disabled:hover,.mw-ui-button.mw-ui-constructive:disabled:active,.mw-ui-button.mw-ui-constructive:disabled.mw-ui-checked {box-shadow:none;}

.mw-ui-button.mw-ui-constructive.mw-ui-quiet {color:#555555;}

.mw-ui-button.mw-ui-constructive.mw-ui-quiet:hover,.mw-ui-button.mw-ui-constructive.mw-ui-quiet:focus {
	background:transparent;
	color:#347bff;
	}

.mw-ui-button.mw-ui-constructive.mw-ui-quiet:active,.mw-ui-button.mw-ui-constructive.mw-ui-quiet.mw-ui-checked {color:#2962cc;}

.mw-ui-button.mw-ui-constructive.mw-ui-quiet:disabled {color:#cccccc;}

.mw-ui-button.mw-ui-destructive {
	background:#d11d13;
	color:#fff;
	border:1px solid #d11d13;
	text-shadow:0 1px rgba(0,0,0,0.1);
	}

.mw-ui-button.mw-ui-destructive:hover {background-color:#a7170f;}

.mw-ui-button.mw-ui-destructive:focus {
	border-color:#ffffff;
	box-shadow:0 0 0 1px #a7170f;
	outline:none;
	}

.mw-ui-button.mw-ui-destructive:focus::-moz-focus-inner {border-color:transparent;}

.mw-ui-button.mw-ui-destructive:active,.mw-ui-button.mw-ui-destructive.is-on,.mw-ui-button.mw-ui-destructive.mw-ui-checked {
	background:#a7170f;
	box-shadow:none;
	}

.mw-ui-button.mw-ui-destructive:disabled {
	background:#dddddd;
	border-color:#dddddd;
	}

.mw-ui-button.mw-ui-destructive:disabled:hover,.mw-ui-button.mw-ui-destructive:disabled:active,.mw-ui-button.mw-ui-destructive:disabled.mw-ui-checked {box-shadow:none;}

.mw-ui-button.mw-ui-destructive.mw-ui-quiet {color:#555555;}

.mw-ui-button.mw-ui-destructive.mw-ui-quiet:hover,.mw-ui-button.mw-ui-destructive.mw-ui-quiet:focus {
	background:transparent;
	color:#d11d13;
	}

.mw-ui-button.mw-ui-destructive.mw-ui-quiet:active,.mw-ui-button.mw-ui-destructive.mw-ui-quiet.mw-ui-checked {color:#a7170f;}

.mw-ui-button.mw-ui-destructive.mw-ui-quiet:disabled {color:#cccccc;}

.mw-ui-button.mw-ui-quiet {
	background:transparent;
	border:0;
	text-shadow:none;
	color:#555555;
	}

.mw-ui-button.mw-ui-quiet:hover,.mw-ui-button.mw-ui-quiet:focus {
	background:transparent;
	color:#555555;
	}

.mw-ui-button.mw-ui-quiet:active,.mw-ui-button.mw-ui-quiet.mw-ui-checked {color:#777777;}

.mw-ui-button.mw-ui-quiet:disabled {color:#cccccc;}

.mw-ui-button.mw-ui-quiet:hover,.mw-ui-button.mw-ui-quiet:focus {box-shadow:none;}

.mw-ui-button.mw-ui-quiet:active,.mw-ui-button.mw-ui-quiet:disabled {background:transparent;}

a.mw-ui-button {
	text-decoration:none;
	line-height:normal;
	}

a.mw-ui-button:hover,a.mw-ui-button:focus {text-decoration:none;}

.mw-ui-button-group > * {
	min-width:48px;
	border-radius:0;
	float:left;
	}

.mw-ui-button-group > *:first-child {
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	}

.mw-ui-button-group > *:not( :first-child ) {border-left:0;}

.mw-ui-button-group > *:last-child {
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	}

.mw-ui-button-group .is-on .button {cursor:default;}

.mw-ui-checkbox {
	display:inline-block;
	vertical-align:middle;
	}

.mw-ui-checkbox:not( #noop ) {
	position:relative;
	display:table;
	}

.mw-ui-checkbox:not( #noop ) * {
	font:inherit;
	vertical-align:middle;
	}

.mw-ui-checkbox:not( #noop ) input[type="checkbox"] {
	opacity:0;
	z-index:1;
	position:relative;
	width:2em;
	height:2em;
	max-width:none;
	margin:0 0.4em 0 0;
	display:table-cell;
	}

.mw-ui-checkbox:not( #noop ) input[type="checkbox"] + label {display:table-cell;}

.mw-ui-checkbox:not( #noop ) input[type="checkbox"] + label::before {
	content:'';
	background-color:#fff;
	background-image:url(checked.png);
	background-image:linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M4%2012l5%205L20%205%22%20stroke%3D%22%2300B78C%22%20stroke-width%3D%223%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E%0A)!ie;
	background-image:linear-gradient(transparent,transparent),url(checked.svg)!ie;
	background-image:-o-linear-gradient(transparent,transparent),url(checked.png);
	background-position:center center;
	background-origin:border-box;
	background-repeat:no-repeat;
	-webkit-background-size:0 0;
	background-size:0 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:absolute;
	top:50%;
	left:0;
	width:2em;
	height:2em;
	margin-top:-1em;
	border:1px solid #777777;
	border-radius:2px;
	line-height:2em;
	cursor:pointer;
	}

.mw-ui-checkbox:not( #noop ) input[type="checkbox"]:checked + label::before {
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	}

.mw-ui-checkbox:not( #noop ) input[type="checkbox"]:active + label::before {
	background-color:#dddddd;
	border-color:#dddddd;
	}

.mw-ui-checkbox:not( #noop ) input[type="checkbox"]:focus + label::before {border-width:2px;}

.mw-ui-checkbox:not( #noop ) input[type="checkbox"]:focus:hover + label::before,.mw-ui-checkbox:not( #noop ) input[type="checkbox"]:hover + label::before {border-bottom-width:3px;}

.mw-ui-checkbox:not( #noop ) input[type="checkbox"]:disabled + label::before {
	cursor:default;
	background-color:#eeeeee;
	border-color:#eeeeee;
	}

.mw-ui-checkbox:not( #noop ) input[type="checkbox"]:disabled:checked + label::before {
	background-image:url(checked_disabled.png);
	background-image:linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M4%2012l5%205L20%205%22%20stroke%3D%22%23fff%22%20stroke-width%3D%223%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E%0A)!ie;
	background-image:linear-gradient(transparent,transparent),url(checked_disabled.svg)!ie;
	background-image:-o-linear-gradient(transparent,transparent),url(checked_disabled.png);
	}

.mw-ui-input {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	width:100%;
	border:1px solid #cccccc;
	border-radius:2px;
	padding:0.3em 0.3em 0.3em 0.6em;
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
	vertical-align:middle;
	}

.mw-ui-input::-webkit-input-placeholder {
	font-style:italic;
	font-weight:normal;
	}

.mw-ui-input::-moz-placeholder {
	font-style:italic;
	font-weight:normal;
	}

.mw-ui-input:-moz-placeholder {
	font-style:italic;
	font-weight:normal;
	}

.mw-ui-input:-ms-input-placeholder {
	font-style:italic;
	font-weight:normal;
	}

.mw-ui-input:invalid {box-shadow:none;}

.mw-ui-input:focus {
	box-shadow:inset 0 0 0 2px #347bff;
	border-color:#347bff;
	outline:0;
	}

.mw-ui-input:disabled {
	border-color:#eeeeee;
	color:#cccccc;
	}

.mw-ui-input[type="search"] {-webkit-appearance:textfield;}

.mw-ui-input[type="search"]::-ms-clear {display:none;}

.mw-ui-input[type="search"]::-webkit-search-cancel-button,.mw-ui-input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}

textarea.mw-ui-input {min-height:8em;}

input[type="number"],.mw-ui-input-inline {
	display:inline-block;
	width:auto;
	}

.mw-ui-input-large {
	margin-top:0;
	margin-bottom:0;
	}

.mw-ui-input-large + .mw-ui-input-large {margin-top:-1px;}

.mw-ui-input-large:focus {position:relative;}

input.mw-ui-input-large {
	font-size:1.75em;
	font-weight:bold;
	line-height:1.25em;
	}

.mw-ui-radio {
	display:inline-block;
	vertical-align:middle;
	}

.mw-ui-radio:not( #noop ) {
	position:relative;
	line-height:2em;
	}

.mw-ui-radio:not( #noop ) * {
	font:inherit;
	vertical-align:middle;
	}

.mw-ui-radio:not( #noop ) input[type="radio"] {
	opacity:0;
	width:2em;
	height:2em;
	max-width:none;
	margin-right:0.4em;
	}

.mw-ui-radio:not( #noop ) input[type="radio"] + label::before {
	content:'';
	background-color:#fff;
	background-image:url(radio_checked.png);
	background-image:linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Ccircle%20fill%3D%22%2300AF89%22%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%226%22%2F%3E%3C%2Fsvg%3E%0A)!ie;
	background-image:linear-gradient(transparent,transparent),url(radio_checked.svg)!ie;
	background-image:-o-linear-gradient(transparent,transparent),url(radio_checked.png);
	background-origin:border-box;
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-background-size:0 0;
	background-size:0 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:absolute;
	left:0;
	width:2em;
	height:2em;
	border:1px solid #777777;
	border-radius:100%;
	cursor:pointer;
	}

.mw-ui-radio:not( #noop ) input[type="radio"]:checked + label::before {
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	}

.mw-ui-radio:not( #noop ) input[type="radio"]:active + label::before {
	background-color:#dddddd;
	border-color:#dddddd;
	}

.mw-ui-radio:not( #noop ) input[type="radio"]:focus + label::before {border-width:2px;}

.mw-ui-radio:not( #noop ) input[type="radio"]:focus:hover + label::before,.mw-ui-radio:not( #noop ) input[type="radio"]:hover + label::before {border-bottom-width:3px;}

.mw-ui-radio:not( #noop ) input[type="radio"]:disabled + label::before {
	background-color:#eeeeee;
	border-color:#eeeeee;
	cursor:default;
	}

.mw-ui-radio:not( #noop ) input[type="radio"]:disabled:checked + label::before {
	background-image:url(radio_disabled.png?284a4);
	background-image:linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%226%22%2F%3E%3C%2Fsvg%3E%0A)!ie;
	background-image:linear-gradient(transparent,transparent),url(radio_disabled.svg?5df42)!ie;
	background-image:-o-linear-gradient(transparent,transparent),url(radio_disabled.png?284a4);
	}